venv
.idea
*.egg-info
.coverage
htmlcov
__pycache__
dummy.py
experiments
weights
snippets.py
/notebooks/.ipynb_checkpoints/
.DS_Store
.ipynb_checkpoints/
/code/
/personal/
/datasets/
=3.0.0
/snipptes.py
/build/
/wandb/
.env
tests/daniel_tests.py
