CONFIG:
  TPLAYOUT: dd/tp/conf_frcnn_layout.yaml
  TPCELL: dd/tp/conf_frcnn_cell.yaml
  TPITEM: dd/tp/conf_frcnn_rows.yaml
  D2LAYOUT: dd/d2/layout/CASCADE_RCNN_R_50_FPN_GN.yaml
  D2CELL: dd/d2/cell/CASCADE_RCNN_R_50_FPN_GN.yaml
  D2ITEM: dd/d2/item/CASCADE_RCNN_R_50_FPN_GN.yaml
  TESS_OCR: dd/conf_tesseract.yaml
WEIGHTS:
  TPLAYOUT: layout/model-800000_inf_only.data-00000-of-00001
  TPCELL: cell/model-1800000_inf_only.data-00000-of-00001
  TPITEM: item/model-1620000_inf_only.data-00000-of-00001
  D2LAYOUT: layout/d2_model-800000-layout.pkl
  D2CELL: cell/d2_model-1800000-cell.pkl
  D2ITEM: item/d2_model-1620000-item.pkl
SEGMENTATION:
  ASSIGNMENT_RULE: ioa
  IOU_THRESHOLD_ROWS: 0.01
  IOU_THRESHOLD_COLS: 0.001
  IOA_THRESHOLD_ROWS: 0.4
  IOA_THRESHOLD_COLS: 0.4
  FULL_TABLE_TILING: True
  REMOVE_IOU_THRESHOLD_ROWS: 0.001
  REMOVE_IOU_THRESHOLD_COLS: 0.001
WORD_MATCHING:
  PARENTAL_CATEGORIES:
    - TEXT
    - TITLE
    - CELL
    - LIST
  RULE: ioa
  IOU_THRESHOLD: 0.001
  IOA_THRESHOLD: 0.6