name: Release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  pypi-check:
    if: "!github.event.release.prerelease"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          architecture: x64

      - name: Install package
        run: |
          python -m pip install --upgrade pip
          pip install deepdoctection
          python -c "import deepdoctection; print(deepdoctection.__version__)"
